*{
	margin: 0;
	padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
	font-family: sans-serif;
    overflow-x: hidden;
    position: absolute;
}
.nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar {
	background-image: linear-gradient(90deg, rgb(0, 60, 150, 0.8), rgba(0, 162, 255, 0.8));
	padding: 0 !important;
}
.navbar-brand img {
	height: 60px;
	padding-left: 20px;
}
.navbar-nav li {
	padding: 0 10px
}
.navbar-nav li a {
	color: #fff !important;
	font-weight: 600;
	float: center;
	text-align: center;
} 
.fa-bars {
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler {
	outline: none !important;
}
.white-text {
	color: #fff !important;
}

/* Banner Section */
#banner {
	background-image: linear-gradient(90deg, rgb(0, 60, 150, 0.8), rgba(0, 162, 255, 0.8));
	color: #fff;
	padding-top: 5%;
	height: 45vw;
    background-attachment: fixed;
}
.promo-title {
	font-size: 80px;
	font-weight: 600;
	margin-top: 100px;
}
.bottom-img {
	width: 100%;
}
#text {
	color: red;
}
.wave {
	position: absolute;

	bottom: 0;
	left: 0;
}
.container {
  width: 75%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  margin-top: -30px;
}
.blog-content {
  padding: 25px;
  padding-top: 0px;
}
.blog-item {
    background-color: #FFF;
    flex: 0 0 30%;
    border-bottom: 5px solid #e7e7e7;
    box-shadow: 0px 10px 15px 5px #0000000f;
    border-radius: 25px;
    margin-top: 30px;
    cursor: pointer;
}
.blog-title {
  margin-bottom: 5px;
}
.blog-date {
  font-size: 1em;
  color: #898989;
}
.blog-image > img {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.btn {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
}
.btn-red {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #FFF;
}
.modal-content {
    width: 550px !important;
}
@media only screen and ( max-width:950px ){
  .blog-item {
    flex-basis: 100%;
  }
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.unique-color-dark {
    background-color: #1c2331 !important;
    color: #fff !important;
}

#sect{
    background-image: url("https://images.unsplash.com/photo-1517433456452-f9633a875f6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;

}

#banner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-nav li a:hover {
    color: orange !important;
}
.btn-hover {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

/* Glimpses */
.glimpses {
    width: 30vh;
    height: 25vh;
    margin-top: 30px;
    margin-left: 100px;
}

.ban-img {
    height: 20vw !important;
}
.heading {
    margin-top: -100vh;
}

@media only screen and (max-width: 780px) {
    
#banner {
    background-image: linear-gradient(90deg, rgb(0, 60, 150, 0.8), rgba(0, 162, 255, 0.8));
    color: #fff;
    padding-top: 0;
    height: 130vw;
    background-attachment: fixed;
}
.navbar {
    width: auto !important;
}
.promo-title {
    font-size: 80px;
    font-weight: 600;
    margin-top: 1200px;
  }
  #sect {
    margin-top: 1000px !important;
    height: 200vh !important;
  }
  .blog-item {
    margin-top: 50px !important;
  }
  .modal-content {
    width: 200vw !important;
    
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    #sect {
        margin-top: 1200px !important;
    }
    .ban-img {
        height: 50vw !important;
    }
    .heading {
        margin-top: -140vh;
    }
    .modal-content {
    width: 700px !important;
    margin-left: 80px !important; 
  }
  body {
    font-family: sans-serif;
    overflow-x: hidden;
    position: absolute;
}

}
.container-fluid img {
    height: 350px !important;
    width: 350px !important;
}

@media only screen and (max-width: 1100px) {
  .modal-content {
    width: 250px !important;
    margin-left: 60px !important; 
  }
  #sect {
    height: 330vh !important;
    margin-left: -50px !important;
  }
  #glimp {
    margin-left: 50px;
  }
}


@media only screen and (min-width: 411px) and (max-width: 767px) {
    #sect {
        margin-top: 1100px !important;
    }
    .navbar {
        width: 410px;
        overflow-x: hidden;
    }
     .heading {
        margin-top: -140vh;
    }
 }

